<div id="edit" ng-controller="EditPacienteController" class = "daxfamily">
  <title>Portafolio</title>
  <section id="single-page-header">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-page-header-left">
              <h2>Portafolio</h2>
              <p>Disfruta de nuestra galeria de fotos</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <!--<div class="single-page-header-right">
              <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Portfolio</li>
              </ol>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End single page header -->

  <!-- Start portfolio -->
  <section id="portfolio">
    <div class="portfolio-area">
        <!-- portfolio menu -->
       <div class="portfolio-menu">
         <ul>
           <li class="filter" data-filter=".todas">Todas</li>
           <li class="filter" data-filter=".antesdespues">Antes/Despues</li>
           <li class="filter" data-filter=".oficinas">Nuestras Oficinas</li>
           <!--<li class="filter" data-filter=".development">Development</li>
           <li class="filter" data-filter=".photography">Photography</li>-->
         </ul>
       </div>
       <!-- Portfolio container -->
       <div id="mixit-container" class="portfolio-container">
           <div class="single-portfolio mix todas antesdespues">
           <div class="single-item">
             <img src="assets/Img/portafolio/ad/axaantes.jpg" alt="img">
            <div class="single-item-content">
              <!--<a class="fancybox view-icon" data-fancybox-group="gallery" ng-href="assets/Img/portafolio/ad/axaantes.jpg"><i class="fa fa-search-plus"></i></a>-->
              <div class="portfolio-title">
                <h4>Axa Michel Antes</h4>
                <!--<span>Zoom</span>-->
              </div>
             </div>
           </div>
         </div>
         <div class="single-portfolio mix todas antesdespues">
           <div class="single-item">
             <img src="assets/Img/portafolio/ad/axadespues.jpg" alt="img">
             <div class="single-item-content">
                <!--<a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/Img/portafolio/ad/axadespues.jpg"><i class="fa fa-search-plus"></i></a>-->
                <div class="portfolio-title">
                  <h4>Axa Michel Despues</h4>
                  <!--<span>Zoom</span>-->
                </div>
             </div>
           </div>
         </div>
         <div class="single-portfolio mix todas antesdespues">
           <div class="single-item">
             <img src="assets/Img/portafolio/ad/chongantes.jpg" alt="img">
             <div class="single-item-content">
                <!--<a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/Img/portafolio/ad/chongantes.jpg"><i class="fa fa-search-plus"></i></a>-->
                <div class="portfolio-title">
                  <h4>Miguel Chong Antes</h4>
                  <!--<span>Zoom</span>-->
                </div>
             </div>
           </div>
         </div>
         <div class="single-portfolio mix todas antesdespues">
           <div class="single-item">
             <img src="assets/Img/portafolio/ad/chongdespues.jpg" alt="img">
             <div class="single-item-content">
                <!--<a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/Img/portafolio/ad/chongdespues.jpg"><i class="fa fa-search-plus"></i></a>-->
                <div class="portfolio-title">
                  <h4>Miguel Chong Despues</h4>
                  <!--<span>Zoom</span>-->
                </div>
             </div>
           </div>
         </div>
         <div class="single-portfolio mix todas antesdespues">
           <div class="single-item">
             <img src="assets/Img/portafolio/ad/dimasantes.jpg" alt="img">
            <div class="single-item-content">
                <!--<a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/Img/portafolio/ad/dimasantes.jpg"><i class="fa fa-search-plus"></i></a>-->
                <div class="portfolio-title">
                  <h4>Antes</h4>
                  <!--<span>Zoom</span>-->
                </div>
             </div>
           </div>
         </div>
         <div class="single-portfolio mix todas antesdespues">
           <div class="single-item">
             <img src="assets/Img/portafolio/ad/dimasdespues.jpg" alt="img">
             <div class="single-item-content">
                <!--<a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/Img/portafolio/ad/dimasdespues.jpg"><i class="fa fa-search-plus"></i></a>-->
                <div class="portfolio-title">
                  <h4>Despues</h4>
                  <!--<span>Zoom</span>-->
                </div>
             </div>
           </div>
         </div>
         <div class="single-portfolio mix todas antesdespues">
           <div class="single-item">
             <img src="assets/Img/portafolio/ad/mariacerratoantes.jpg" alt="img">
             <div class="single-item-content">
                <!--<a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/Img/portafolio/ad/mariacerratoantes.jpg"><i class="fa fa-search-plus"></i></a>-->
                <div class="portfolio-title">
                  <h4>Maria Cerrato Antes</h4>
                  <!--<span>Zoom</span>-->
                </div>
             </div>
           </div>
         </div>
         <div class="single-portfolio mix todas antesdespues">
           <div class="single-item">
             <img src="assets/Img/portafolio/ad/mariacerratodespues.jpg" alt="img">
             <div class="single-item-content">
                <!--<a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/Img/portafolio/ad/mariacerratodespues.jpg"><i class="fa fa-search-plus"></i></a>-->
                <div class="portfolio-title">
                  <h4>Maria Cerrato Despues</h4>
                  <!--<span>Zoom</span>-->
                </div>
             </div>
           </div>
         </div>
          <div class="single-portfolio mix todas oficinas">
           <div class="single-item">
             <img src="assets/Img/portafolio/edificio.jpg" alt="img">
             <div class="single-item-content">
                <!--<a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/Img/portafolio/edificio.jpg"><i class="fa fa-search-plus"></i></a>-->
                <div class="portfolio-title">
                  <h4>Torre M&#233dica Tepeyac</h4>
                  <!--<span>Zoom</span>-->
                </div>
             </div>
           </div>
         </div>
         <div class="single-portfolio mix todas oficinas">
           <div class="single-item">
             <img src="assets/Img/portafolio/inside.png" alt="img">
            <div class="single-item-content">
              <!--<a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/Img/portafolio/inside.png"><i class="fa fa-search-plus"></i></a>-->
              <div class="portfolio-title">
                <h4>Nuestra Sala de Espera</h4>
                <!--<span>Zoom</span>-->
              </div>
             </div>
           </div>
         </div>
         <div class="single-portfolio mix todas oficinas">
           <div class="single-item">
             <img src="assets/Img/portafolio/silla.png" alt="img">
             <div class="single-item-content">
                <!--<a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/Img/portafolio/silla.png"><i class="fa fa-search-plus"></i></a>-->
                <div class="portfolio-title">
                  <h4>Nuestro Equipo</h4>
                  <!--<span>Zoom</span>-->
                </div>
             </div>
           </div>
         </div>
         <div class="single-portfolio mix todas oficinas">
           <div class="single-item">
             <img src="assets/Img/portafolio/tree.jpg" alt="img">
             <div class="single-item-content">
                <!--<a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/Img/portafolio/tree.jpg"><i class="fa fa-search-plus"></i></a>-->
                <div class="portfolio-title">
                  <h4>Nuestras Oficinas</h4>
                  <!--<span>Zoom</span>-->
                </div>
             </div>
           </div>
         </div>
         <div class="single-portfolio mix todas oficinas">
           <div class="single-item">
             <img src="assets/Img/portafolio/chair.jpg" alt="img">
             <div class="single-item-content">
                <!--<a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/Img/portafolio/chair.jpg"><i class="fa fa-search-plus"></i></a>-->
                <div class="portfolio-title">
                  <h4>Nuestras Oficinas</h4>
                  <!--<span>Zoom</span>-->
                </div>
             </div>
           </div>
         </div>
         <div class="single-portfolio mix todas oficinas">
           <div class="single-item">
             <img src="assets/Img/portafolio/door.jpg" alt="img">
             <div class="single-item-content">
                <!--<a class="fancybox view-icon" data-fancybox-group="gallery" href="assets/Img/portafolio/door.jpg"><i class="fa fa-search-plus"></i></a>-->
                <div class="portfolio-title">
                  <h4>Nuestras Oficinas</h4>
                  <!--<span>Zoom</span>-->
                </div>
             </div>
           </div>
         </div>
       </div>
    </div>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- Bootstrap -->
  <script src="assets/js/bootstrap.js"></script>
  <!-- Slick Slider -->
  <script type="text/javascript" src="assets/js/slick.js"></script>
  <!-- mixit slider -->
  <script type="text/javascript" src="assets/js/jquery.mixitup.js"></script>
  <!-- Add fancyBox -->
  <script type="text/javascript" src="assets/js/jquery.fancybox.pack.js"></script>
 <!-- counter -->
  <script src="assets/js/waypoints.js"></script>
  <script src="assets/js/jquery.counterup.js"></script>
  <!-- Wow animation -->
  <script type="text/javascript" src="assets/js/wow.js"></script>
  <!-- progress bar   -->
  <script type="text/javascript" src="assets/js/bootstrap-progressbar.js"></script>


  <!-- Custom js -->
  <script type="text/javascript" src="assets/js/custom.js"></script>
</div>
