<div ng-controller="FilterController" class = "daxfamily">
  <section id="blog-archive">
    <title>Quienes Somos</title>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="blog-archive-area">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <div class="blog-archive-left">
                    <!-- Start blog news single -->
                    <article class="blog-news-single">
                      <div class="blog-news-img">
                        <img src="assets/Img/weare.jpg" alt="image">
                      </div>
                      <div class="blog-news-title">
                        <h1>Misión</h1>
                        <!--<p>By <a class="blog-author" href="#">John Powell</a> <span class="blog-date">|18 October 2015</span></p>-->
                      </div>
                      <div class="blog-news-details blog-single-details">
                        <p>Brindar a través de nuestra Institución servicios odontológicos integrales que
                        llegan directamente a los beneficiarios mediante la aplicación de conceptos
                        de excelencia en el servicio, eficiencia en su ejecución y una atención personalizada.</p>
                        <br>
                        <p>Renovar el concepto que tiene nuestro país de un servicio odontológico, mediante la
                          ejecución de una asistencia dental eficiente y asertiva.</p>
                          </div>
                          <div class="blog-news-title">
                            <h1>Visión</h1>
                          <!--<p>By <a class="blog-author" href="#">John Powell</a> <span class="blog-date">|18 October 2015</span></p>-->
                        </div>
                        <div class="blog-news-details blog-single-details">
                          <p>Ser sinónimo de Excelencia y Confianza generando relaciones de largo plazo con nuestro pacientes a tráves de procesos y tratamientos cetrtificacos y accesibles. Destacar por la calidad de nuestra atención integral y personalizada; convirtiendo la visita al odontólogo en una experiencia agradable. Asegurar una solucion de cualquier trauma relacionado con la salud bucal y contribuir con el bienestar integral del paciente para así lograr el posicionaminto como la mejor institución dental de Honduras.</p>

                    </div>
                    </article>

    <!-- End blog archive -->
</div>
