<div ng-controller="homeController" class = "daxfamily">
<title>Indent</title>

  <section id="slider">
    <div class="main-slider">
      <div class="single-slide">
        <img src="assets/Img/banner1.png" alt="img">
        <!--<div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="slide-article">
                  <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Cosas que se pueden poner</h1>
                  <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                  <!--<a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="#">Read More</a>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="slider-img wow fadeInUp">
                  <img src="assets/images/person1.png" alt="business man">
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
      <div class="single-slide">
        <img src="assets/Img/banner4.png" alt="img">
        <!--<div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="slide-article">
                  <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Cosas que se pueden poner</h1>
                  <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                  <!--<a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="#">Read More</a>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="slider-img wow fadeInUp">
                  <img src="assets/images/person1.png" alt="business man">
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
      <div class="single-slide">
        <img src="assets/Img/banner3.png" alt="img">
        <!--<div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="slide-article">
                  <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Cosas que se pueden poner</h1>
                  <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                  <!--<a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="#">Read More</a>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="slider-img wow fadeInUp">
                  <img src="assets/images/person1.png" alt="business man">
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
      <div class="single-slide">
        <img src="assets/Img/banner2.png" alt="img">
        <!--<div class="slide-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="slide-article">
                  <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Otra cosa random</h1>
                  <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                  <!--<a class="read-more-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s" href="#">Read More</a>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="slider-img wow fadeInUp">
                  <img src="assets/images/person2.png" alt="business man">
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </section>
  <!-- End slider -->



  <!-- Start about  -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Acerca de Nostros</h2>
            <span class="line"></span>
            <p>Somos una empresa dedicada al servicio de la salud bucal integral.Contamos con Profesionales altamente especializados, con la finalidad de brindarle a la sociedad hondureña un servicio digno, una atención de calidad, con tecnología de punta y con los mejores precios del mercado.</p>
          </div>
        </div>



  <!-- Start Service -->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Especialidades</h2>
            <span class="line"></span>
            <p></p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="service-content">
            <div class="row">
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Odontología General</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon greenish"></i>
                  <h4 class="service-title">Odontología Infantil</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Endodoncia</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Periodoncía</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon greenish"></i>
                  <h4 class="service-title">Ortodoncía niños y adultos</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Odontología Geriártica</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Odontología Neurofocal</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon greenish"></i>
                  <h4 class="service-title">Implantes Dentales</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Rehabilitación Oral</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon "></i>
                  <h4 class="service-title">Cirugía Bucal</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon greenish"></i>
                  <h4 class="service-title">Odontología del Deportista</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Cirugía Plástica</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-plus-square service-icon"></i>
                  <h4 class="service-title">Nutrición</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper tortor in accumsan rutrum. Praesent maximus rhoncus felis sed bibendum. Fusce consectetur dolor sit amet porttitor laoreet. Donec mollis, libero quis tincidunt rutrum, quam elit posuere enim, eu sodales orci nunc fringilla nisl. Fusce hendrerit vehicula eros</p>
                </div>
              </div>
              <!-- End single service -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- Bootstrap -->
  <script src="../assets/js/bootstrap.js"></script>
  <!-- Slick Slider -->
  <script type="text/javascript" src="../assets/js/slick.js"></script>
  <!-- mixit slider -->
  <script type="text/javascript" src="../assets/js/jquery.mixitup.js"></script>
  <!-- Add fancyBox -->
  <script type="text/javascript" src="../assets/js/jquery.fancybox.pack.js"></script>
 <!-- counter -->
  <script src="../assets/js/waypoints.js"></script>
  <script src="../assets/js/jquery.counterup.js"></script>
  <!-- Wow animation -->
  <script type="text/javascript" src="../assets/js/wow.js"></script>
  <!-- progress bar   -->
  <script type="text/javascript" src="../assets/js/bootstrap-progressbar.js"></script>


  <!-- Custom js -->
  <script type="text/javascript" src="../assets/js/custom.js"></script>

</div>
